

<!-- Reactive forms makes use of a built-in class called FormGroup . A FormGroup is a collection of form elements -->
<b>Enter USER'S Data</b><BR>
  <form  [formGroup]="userForm" (ngSubmit)="onSubmit()">
   FirstName: <input type="text" name="firstName" formControlName="firstName"><br><br>
   LastName: <input type="text" name="lastName" formControlName="lastName"><br><br>
    Data:<input type="date" name="joinDate" formControlName="joinDate"><br><br>
    Salary:<input type="number" name="salary" formControlName="salary"><br><br>
    <input type="submit" value="Add user" [disabled]="!this.userForm.valid" />
  </form>
  <ul>
    <li *ngFor="let user of userData">
      {{user.firstName}} {{user.lastName}} {{user.joinDate}} {{user.salary}}
    </li>
  </ul>
<router-outlet></router-outlet>
